#!/usr/bin/make -f
export PYBUILD_NAME=yfinance-ta-patterns
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

execute_before_dh_auto_configure:
	sed -i '/Programming Language :: Python :: 3.14/d' pyproject.toml
	sed -i '/Programming Language :: Python :: 3.15/d' pyproject.toml
	sed -i '/Programming Language :: Python :: 3.16/d' pyproject.toml
