pkgbase = python-yfinance-ta-patterns
	pkgdesc = Institutional-grade market candlestick pattern scanner with multi-asset backtesting
	pkgver = 0.3.35
	pkgrel = 1
	url = https://github.com/eminsk/yfinance-ta-patterns
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pandas
	depends = python-numpy
	depends = python-pytz
	depends = python-rich
	optdepends = python-yfinance: for live market data downloads via Yahoo Finance
	source = https://files.pythonhosted.org/packages/source/y/yfinance_ta_patterns/yfinance_ta_patterns-0.3.35.tar.gz
	sha256sums = 755ba32285a37496880e7ea9567d4207d76b8c83ea5d356a94e97845869d800d

pkgname = python-yfinance-ta-patterns
